/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
  color: #c3073f;
}

a:hover {
  color: #6f2232;
}*/

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
